<p id="notice"><%= notice %></p>

<% page_title(@article.title) %>

<div class="article-edit">
    <%= article_edit_btns(@article) %>
</div>

<div class="article-container">
    <%= article_detail_view %>
</div>

