<aside class="admin-menu">
    <div class="admin-menu-content">
        <ul class="admin-menu-items">
            <li>
                <%= link_to  "Articles", articles_admin_path %>
            </li>

            <li>
                <%= link_to  "Categories", categories_admin_path %>
            </li>

            <li>
                <%= link_to  "Users", users_admin_path %>
            </li>

            <li>
                <%= link_to  "Votes", votes_admin_path %>
            </li>
        </ul>
    </div>
</aside>