<footer class="footer-container">
    <div class="footer-content">
        <%= link_to image_tag("kitchen_loop.png", alt: "Rails", class: 'logo'), root_path %>

        <div class="copyright-info">
            <p>
                Copyright 2020. All rights reserved.
            </p>
        </div>

        <div class="social-media-block">
            <%= link_to "", 'https://twitter.com/', class: 'fa fa-twitter social-icon' %>
            <%= link_to "", 'https://instagram.com/', class: 'fa fa-github social-icon' %>
            <%= link_to "", 'https://facebook.com/', class: 'fa fa-facebook-f social-icon' %>
        </div>
    </div>
</footer>