<footer class="footer-container">
    <div class="footer-content">
        <%= link_to image_tag("kitchen_loop.png", alt: "Rails", class: 'logo'), root_path %>

        <div class="copyright-info">
            <p>
                Copyright 2020. All rights reserved.
            </p>
        </div>

        <div class="social-media-block">
        </div>
    </div>
</footer>