<% page_title('The Kitchen Loop - articles about food, cooking, kitchen equiments, recipes, and different other amazing articles') %>

<div class="featured-wrapper">
    <div class="featured-articles">
        <%= most_voted_articles %>
    </div>
</div>

<div class="categories-wrapper">
    <%= show_categories(@categories) %>
</div>

<div class="articles-wrapper">
    <%= article_preview(@articles) %>
</div>