<% page_title(@category.name) %>

<div class="container">
    <div class="container-header">
        <div class="title">
            <h1>Edit: <%= @category.name %></h1>
        </div>

        <div class="right-block">
            <%= link_to 'Show', @category, class: 'new-article-btn' %>
            <%= link_to 'Back', categories_admin_path, class: 'new-article-btn' %>
        </div>
    </div>

    <div class="form-container">
        <div class="form-wrapper">
            <%= render "form" %>
        </div>
    </div>
</div>



