<p id="notice"><%= notice %></p>

<% page_title(@category.name) %>
<div class="container articles-container">
    <div class="container-header">
        <div class="title">
            <h1><%= @category.name %></h1>
        </div>
    </div>
    
    <div class="category-box-container">
        <div class="category-items">
            <%= category_blocks(@categories) %>
        </div>
    </div>

    <div class="articles-wrapper">
        <%= article_preview(@category.articles) %>
    </div>
</div>
